<div class="container">

    <div fxLayout="row">
        <h1>
            Dried Apples
        </h1>
    </div>
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-8">
            <div fxLayoutGap="10%">
                <div id="gallery">
                    <section>
                        <div data-test="gallery" class="gallery">
                            <div data-test="hero-image" class="hero-image">
                                <div class="zoom-on-hover"><img
                                        src="https://nuts.com/images/rackcdn/ed910ae2d60f0d25bcb8-80550f96b5feb12604f4f720bfefb46d.ssl.cf1.rackcdn.com/1a2e165d7131d6a3-90OcN4KY-large.jpg"
                                        alt="product image normal" class="normal" style="opacity: 1;">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <mat-card>
                <div class="col-xs-12">
                    <div class="row inline-rating">
                        <div class="row">
                            <div class="rating-note"><strong>4.8</strong>
                                <a href="/snacks/single-serve/nuts-variety/24.html#reviews" class=""
                                    data-test="inline-review-show">190 Ratings</a>
                            </div>
                            <!-- <div data-test="rating-stars" class="ptn-rating-stars rating-4-5"></div> -->
                        </div>
                    </div>
                </div>
                <div data-test="variant-section" class="col-xs-12">
                    <div class="variant-section">
                        <div data-test="pricing-container-single" class="pricing-container single-variant">
                            <span class="price">$31.99</span>
                        </div>
                    </div>
                </div>
                <div data-test="quantity-section" class="col-xs-6">
                    <div class="quantity-container">
                        <h6 class="side-bar-title">Quantity</h6>
                        <div class="quantity">
                            <mat-form-field appearance="fill">
                                <mat-label>Select an option</mat-label>
                                <mat-select [(value)]="selected">
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div data-test="total-container"
                    class="col-xs-12 total-container hidden-xs hidden-sm mb-4 mt-4">
                    <h6 class="side-bar-title">Total</h6>
                    <h3 data-v-2e5400b6="">$31.99</h3>
                </div>
                <div>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" fxFlexFill>
                            <mat-icon>add_shopping_cart
                            </mat-icon><span>Add to cart</span>
                        </button>
                    </mat-card-actions>
                </div>

            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <mat-card>
                <div data-test="product-description"
                    class="description long-description formatted-content section clearfix dynamic-content">
                    <div data-test="description-container" class="description-container">
                        <p>Nuts for nuts? Well, when it comes to these picks, we’d say you just have great taste! Our
                            Nutty
                            Best Sellers variety pack puts you at the ready to snack on our smashingly delicious
                            bestsellers
                            on the move. Take our 1.5 oz bags of our Roasted Almonds, Roasted Cashews and Roasted
                            Pistachios
                            (In Shell) on a road trip, shoe shopping marathon, white water rafting excursion, to an axe
                            throwing birthday party or ANYWHERE you need a satisfying snack packed with healthy fats and
                            protein. Contains 24 individual bags in all.</p><a href="#" class="ptn-read-more-link">Read
                            More</a>
                        <p>Our Nutty Best Sellers Variety Pack includes 24 (1.5oz) bags of:</p>
                        <ul>
                            <li>Roasted Almonds (8)</li>
                            <li>Roasted Cashews (8)</li>
                            <li>Roasted Pistachios (In Shell) (8)</li>
                        </ul>
                        <h2 id="now-available-in-single-serve-packaging">Now Available in Single Serve Packaging!</h2>
                        <ul>
                            <li><strong>Contactless &amp; Safe Snacking</strong> - whether you are sharing or eating on
                                your
                                own, the individual packaging limits the number of touchpoints.</li>
                            <li><strong>Portion Control</strong> - Single serving size to help balance out our daily
                                nutritional needs</li>
                            <li><strong>Grab and Go!</strong> - wherever you may travel, take a little bag of snacks on
                                the
                                way</li>
                        </ul>
                    </div>
                    <!---->
                </div>
                <div data-test="product-reviews" class="customer-reviews-module item-reviews" id="reviews">
                    <div class="review-headers">
                        <h4>Ratings &amp; Reviews</h4>
                    </div>
                    <div class="row rating-headline">
                        <div data-test="rating-summary" class="rating-summary col-xs-12 col-sm-6">
                            <div class="average-rating row">
                                <div class="ptn-customer-review col-xs-12">
                                    <div class="rating-note">4.8</div>
                                    <div data-test="rating-stars" class="ptn-rating-stars rating-4-5"></div> 190 Ratings
                                </div>
                            </div>
                            <table data-test="rating-table">
                                <tbody>
                                    <tr>
                                        <td class="label">5 star</td>
                                        <td class="progress-bar">
                                            <div style="width: 89.5%;"></div>
                                        </td>
                                        <td class="label">89.5%</td>
                                    </tr>
                                    <tr>
                                        <td class="label">4 star</td>
                                        <td class="progress-bar">
                                            <div style="width: 7.4%;"></div>
                                        </td>
                                        <td class="label">7.4%</td>
                                    </tr>
                                    <tr>
                                        <td class="label">3 star</td>
                                        <td class="progress-bar">
                                            <div style="width: 1.1%;"></div>
                                        </td>
                                        <td class="label">1.1%</td>
                                    </tr>
                                    <tr>
                                        <td class="label">2 star</td>
                                        <td class="progress-bar">
                                            <div style="width: 1.6%;"></div>
                                        </td>
                                        <td class="label">1.6%</td>
                                    </tr>
                                    <tr>
                                        <td class="label">1 star</td>
                                        <td class="progress-bar">
                                            <div style="width: 0.5%;"></div>
                                        </td>
                                        <td class="label">0.5%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="featured-review ptn-customer-review col-xs-12 col-sm-6">
                            <h5>Featured Review</h5>
                            <div itemprop="review" itemscope="itemscope" itemtype="http://schema.org/Review"
                                data-test="feature-review">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div data-test="rating-stars" class="ptn-rating-stars rating-5"></div>
                                        <div itemprop="reviewRating" itemscope="itemscope"
                                            itemtype="https://schema.org/Rating">
                                            <meta itemprop="ratingValue" content="5">
                                            <meta itemprop="bestRating" content="5">
                                        </div>
                                    </div>
                                    <div itemprop="dateCreated" class="review-date col-xs-6">June 2, 2021</div>
                                </div>
                                <blockquote itemprop="reviewBody" class="ptn-expandable-text is-truncated">
                                    <span class="truncated">This was given as a gift, and the recipient family loved the
                                        fact that each packet contains only one type of nuts, (as</span>
                                    <span class="ellipsis">...</span>
                                    <span class="remainder" style="display: none;"> opposed to a mixed nut combination),
                                        and
                                        said each of the three flavors tasted great. Plus, the on-the-go convenience of
                                        the
                                        individual packaging appealed to them, too. The gift was a hit--many thanks!
                                    </span>
                                </blockquote><a href="#" class="ptn-read-more-link">Read More</a><cite><span
                                        itemprop="author" itemscope="itemscope"
                                        itemtype="https://schema.org/Person"><span itemprop="name">Sharon</span></span>,
                                    Ferndale, MI</cite>
                            </div>
                        </div>
                    </div>
                    <div class="separator hidden-xs"></div>
                    <div class="row list-review">
                        <div class="ptn-customer-review review col-xs-12">
                            <div itemprop="review" itemscope="itemscope" itemtype="http://schema.org/Review"
                                data-test="feature-review">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div data-test="rating-stars" class="ptn-rating-stars rating-5"></div>
                                        <div itemprop="reviewRating" itemscope="itemscope"
                                            itemtype="https://schema.org/Rating">
                                            <meta itemprop="ratingValue" content="5">
                                            <meta itemprop="bestRating" content="5">
                                        </div>
                                    </div>
                                    <div itemprop="dateCreated" class="review-date col-xs-6">July 1, 2021</div>
                                </div>
                                <blockquote itemprop="reviewBody" class="ptn-expandable-text">Perfect snack for me,
                                    working
                                    from home.</blockquote><cite><span itemprop="author" itemscope="itemscope"
                                        itemtype="https://schema.org/Person"><span itemprop="name">JoAnn</span></span>,
                                    Plover, WI</cite>
                            </div>
                        </div>
                    </div>
                    <div class="row list-review">
                        <div class="ptn-customer-review review col-xs-12">
                            <div itemprop="review" itemscope="itemscope" itemtype="http://schema.org/Review"
                                data-test="feature-review">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div data-test="rating-stars" class="ptn-rating-stars rating-5"></div>
                                        <div itemprop="reviewRating" itemscope="itemscope"
                                            itemtype="https://schema.org/Rating">
                                            <meta itemprop="ratingValue" content="5">
                                            <meta itemprop="bestRating" content="5">
                                        </div>
                                    </div>
                                    <div itemprop="dateCreated" class="review-date col-xs-6">June 30, 2021</div>
                                </div>
                                <blockquote itemprop="reviewBody" class="ptn-expandable-text">bought these for a friend
                                    who
                                    has to be careful what she nibbles on. these are great because of the individual
                                    packs
                                    that help control portions.</blockquote><cite><span itemprop="author"
                                        itemscope="itemscope" itemtype="https://schema.org/Person"><span
                                            itemprop="name">Susan</span></span>, Austin, MN</cite>
                            </div>
                        </div>
                    </div>
                    <div class="row list-review">
                        <div class="ptn-customer-review review col-xs-12">
                            <div itemprop="review" itemscope="itemscope" itemtype="http://schema.org/Review"
                                data-test="feature-review">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div data-test="rating-stars" class="ptn-rating-stars rating-5"></div>
                                        <div itemprop="reviewRating" itemscope="itemscope"
                                            itemtype="https://schema.org/Rating">
                                            <meta itemprop="ratingValue" content="5">
                                            <meta itemprop="bestRating" content="5">
                                        </div>
                                    </div>
                                    <div itemprop="dateCreated" class="review-date col-xs-6">June 21, 2021</div>
                                </div>
                                <blockquote itemprop="reviewBody" class="ptn-expandable-text">My favorite is the pb&amp;
                                    jelly mix</blockquote><cite><span itemprop="author" itemscope="itemscope"
                                        itemtype="https://schema.org/Person"><span itemprop="name">Debbie</span></span>,
                                    Paramus, NJ</cite>
                            </div>
                        </div>
                    </div>
                    <div class="row list-review">
                        <div class="ptn-customer-review review col-xs-12">
                            <div itemprop="review" itemscope="itemscope" itemtype="http://schema.org/Review"
                                data-test="feature-review">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div data-test="rating-stars" class="ptn-rating-stars rating-5"></div>
                                        <div itemprop="reviewRating" itemscope="itemscope"
                                            itemtype="https://schema.org/Rating">
                                            <meta itemprop="ratingValue" content="5">
                                            <meta itemprop="bestRating" content="5">
                                        </div>
                                    </div>
                                    <div itemprop="dateCreated" class="review-date col-xs-6">June 15, 2021</div>
                                </div>
                                <blockquote itemprop="reviewBody" class="ptn-expandable-text">We like the variety and
                                    convenience. I do wish it included single packets of walnuts too, though.
                                </blockquote>
                                <cite><span itemprop="author" itemscope="itemscope"
                                        itemtype="https://schema.org/Person"><span itemprop="name">Joanna</span></span>,
                                    King George, VA</cite>
                            </div>
                        </div>
                    </div>
                    <div data-test="reviews-pagination" class="flex-row wrapped ptn-pagination-container">
                        <div class="d-flex flex-xs-12 flex-md-6">
                            <div class="pagination">
                                <ul class="pagination-list">
                                    <li class="pagination-item pagination-item--previousPage"><span aria-disabled="true"
                                            class="pagination-link disabled"><span aria-disabled="true"
                                                title="left arrow" class="icon disabled"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="14.346" height="10.08"
                                                    viewBox="0 0 14.346 10.08">
                                                    <path
                                                        d="M10.08-11.286,8.856-10.062l2.97,2.97H.756v1.746H11.772L8.856-2.43,10.08-1.206,15.1-6.246Z"
                                                        transform="translate(15.102 -1.206) rotate(180)" fill="#0c7f9c">
                                                    </path>
                                                </svg></span> Prev </span></li>
                                    <li class="pagination-item pagination-item--nextPage"><a aria-label="Next" href="#"
                                            data-test="next-review-page" class="pagination-link"> Next <span
                                                title="right arrow" class="icon flipped"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="14.346" height="10.08"
                                                    viewBox="0 0 14.346 10.08">
                                                    <path
                                                        d="M10.08-11.286,8.856-10.062l2.97,2.97H.756v1.746H11.772L8.856-2.43,10.08-1.206,15.1-6.246Z"
                                                        transform="translate(15.102 -1.206) rotate(180)" fill="#0c7f9c">
                                                    </path>
                                                </svg></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex flex-xs-12 flex-md-6">
                            <div data-test="paginated-results-count" class="paginated-results-count"><span>Showing 1-4
                                    of
                                    61</span></div>
                        </div>
                    </div>
                </div>
                <div id="dy-hook-product-grid-1" class="dynamic-content dy-hook-product-grid"></div>
                <div id="dy-hook-product-grid-2" class="dynamic-content dy-hook-product-grid"></div>
                <div id="dy-hook-product-grid-3" class="dynamic-content dy-hook-product-grid"></div>
                <div id="dy-hook-product-grid-4" class="dynamic-content dy-hook-product-grid"></div>
                <div id="dy-hook-product-grid-5" class="dynamic-content dy-hook-product-grid"></div>
                <div id="dy-hook-product-grid-6" class="dynamic-content dy-hook-product-grid"></div>
                <div id="dy-hook-product-grid-7" class="dynamic-content dy-hook-product-grid"></div>
                <div id="dy-hook-product-grid-8" class="dynamic-content dy-hook-product-grid"></div>
                <div id="dy-hook-product-grid-9" class="dynamic-content dy-hook-product-grid"></div>
                <div id="dy-hook-product-grid-10" class="dynamic-content dy-hook-product-grid"></div>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-4">

            <div class="section">
                <div class="card1">

                    <mat-card>
                        <h3>Ingredients</h3>
                        <p> SEE INSERT FOR INDIVIDUAL INGREDIENTS AND NUTRITIONAL INFORMATION. CONTAINS: TREE NUT.
                            Almonds,
                            Cashews, Pistachios, Sea Salt, Salt, Highly Refined Peanut Oil. Packaged in the same
                            facility as
                            peanuts, tree nuts, soy, and milk products. </p>
                    </mat-card>
                </div>

                <div class="card1">
                    <mat-card>

                        <h3>Nutrition Facts</h3>
                        <p> Serving size 28g (~1 oz.)
                            <!---->
                        </p>
                        <table class="data">
                            <colgroup span="3"></colgroup>
                            <thead>
                                <tr class="header">
                                    <th id="blank"></th>
                                    <th id="per-servings" colspan="2" scope="colgroup">Amount per serving</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="calories-group">
                                    <th id="calories">Calories</th>
                                    <td headers="blank"></td>
                                    <td headers="calories per-servings">163</td>
                                </tr>
                                <tr class="calories-group">
                                    <th id="from-fat">Calories from Fat</th>
                                    <td headers="blank"></td>
                                    <td headers="calories per-servings from-fat">119</td>
                                </tr>
                                <tr class="header">
                                    <th id="daily-value" colspan="3" scope="colgroup">%DV</th>
                                </tr>
                                <tr class="nutrients" subnutrients="[object Object]">
                                    <th id="total-fat">Total Fat</th>
                                    <th headers="per-servings total-fat">14g</th>
                                    <th headers="daily-value total-fat">21%</th>
                                </tr>
                                <tr class="sub-nutrients indent">
                                    <td id="from-saturated-fat">Saturated Fat</td>
                                    <td headers="per-servings from-saturated-fat">2g</td>
                                    <td headers="daily-value from-saturated-fat">8%</td>
                                </tr>
                                <tr class="nutrients">
                                    <th id="cholesterol">Cholesterol</th>
                                    <th headers="per-servings cholesterol">0mg</th>
                                    <th headers="daily-value cholesterol">0%</th>
                                </tr>
                                <tr class="nutrients">
                                    <th id="sodium">Sodium</th>
                                    <th headers="per-servings sodium">96mg</th>
                                    <th headers="daily-value sodium">6%</th>
                                </tr>
                                <tr class="nutrients" subnutrients="[object Object],[object Object]">
                                    <th id="total-carbohydrate">Total Carbohydrate</th>
                                    <th headers="per-servings total-carbohydrate">7g</th>
                                    <th headers="daily-value total-carbohydrate">3%</th>
                                </tr>
                                <tr class="sub-nutrients indent">
                                    <td id="from-dietary-fiber">Dietary Fiber</td>
                                    <td headers="per-servings from-dietary-fiber">2g</td>
                                    <td headers="daily-value from-dietary-fiber">8%</td>
                                </tr>
                                <tr class="sub-nutrients indent">
                                    <td id="from-sugars">Sugars</td>
                                    <td headers="per-servings from-sugars">1g</td>
                                    <td headers="daily-value from-sugars"></td>
                                </tr>
                                <tr class="nutrients">
                                    <th id="protein">Protein</th>
                                    <th headers="per-servings protein">5g</th>
                                    <th headers="daily-value protein"></th>
                                </tr>
                                <tr class="vitamins">
                                    <th id="vitamin-a">Vitamin A</th>
                                    <td headers="blank"></td>
                                    <td headers="daily-value vitamin-a">3%</td>
                                </tr>
                                <tr class="vitamins">
                                    <th id="vitamin-c">Vitamin C</th>
                                    <td headers="blank"></td>
                                    <td headers="daily-value vitamin-c">0%</td>
                                </tr>
                                <tr class="vitamins">
                                    <th id="calcium">Calcium</th>
                                    <td headers="blank"></td>
                                    <td headers="daily-value calcium">4%</td>
                                </tr>
                                <tr class="vitamins">
                                    <th id="iron">Iron</th>
                                    <td headers="blank"></td>
                                    <td headers="daily-value iron">5%</td>
                                </tr>
                            </tbody>
                        </table>

                    </mat-card>
                </div>
                <div class="card1">
                    <mat-card>

                        <h3>More Info</h3>
                        <p>Store at room temperature.</p>
                        <!---->
                        <p>Country of origin: United States</p>
                        <p>ID: 1230</p>
                        <div class="certifications-container">
                            <p class="certification certified-gluten-free"><a href="/gluten-free"
                                    aria-label="certified-gluten-free link" class="certifications clearfix"><i></i></a>
                            </p>
                            <p class="certification kosher"><a href="/kosher/" aria-label="kosher link"
                                    class="certifications clearfix"><i></i></a></p>
                        </div>
                    </mat-card>
                </div>
                <div class="card1">
                    <mat-card>

                        <h3>Found In</h3>
                        <p><a href="/tag/kosher" class="found-in-tag"> Kosher </a> (1025) <a href="/tag/kosher%20pareve"
                                class="found-in-tag"> Kosher Pareve </a> (817) <a href="/tag/gluten-free"
                                class="found-in-tag"> Gluten-free </a> (813) <a href="/tag/certified%20gluten-free"
                                class="found-in-tag"> Certified Gluten-free </a> (353) <a href="/tag/salted"
                                class="found-in-tag"> Salted </a> (137) </p>
                    </mat-card>
                </div>

            </div>
            <!-- </mat-card> -->
        </div>
    </div>
</div>