.subtitle{
    color: #70a61c;
}

.mat-card-header-text{
    margin: 0px;
}

.mat-card:not([class*=mat-elevation-z]){
    box-shadow: 0px 2px 1px -1px #673ab7, 0px 1px 1px 0px #673ab7, 2px 4px 4px 0px #673ab7;
}