
<div class="flex flex-col min-h-screen text-gray-900 bg-opacity-50">
    <header style="background-color: #ED6009; color: #450000">
        <div class="meeting-heading w-full h-full">
            <div class="container flex justify-center space-x-8 items-center xl:block xl:relative mx-auto text-center text-base my-4 font-bold">
                <div class="brand-image relative xl:absolute h-full flex flex-row items-center">
                    <img src="assets/img/logo1.png" alt="BJP logo" class="h-24 xl:h-40 xl:mt-16 bg-white rounded-full p-1.5">
                </div>

                <h1 class="brand-name text-3xl lg:text-5xl 2xl:text-6xl pt-8 pb-4 font-semibold flex flex-col xl:flex-row items-center xl:justify-center" >
                    <!-- National Executive Meeting Bharatiya Janata Party -->
                    <span class="xl:mr-2">
                        National Executive Meeting
                    </span>
                    <span class="">
                        Bharatiya Janata Party
                    </span>
                </h1>

            </div>
        </div>
        <div class="meeting-date w-full" style="background-color: #450000;">
            <div class="container mx-auto text-center text-4xl 2xl:text-4.5xl  py-2 text-white font-normal">
                7th & 8th November 2021
            </div>
        </div>
    </header>
    <main class="flex-grow">
        <!-- Signature popup - starts -->
        <div id="signature-popup" class="block w-full h-full">
            <div class="container h-full mx-auto py-12 xl:py-20">
                <div class="w-full rounded-3xl p-10">
                    
                    <div class="id-signature py-2 w-full flex justify-evenly items-stretch">
                        <div class="id-card font-sans w-1/2 2xl:w-1/3 border-2 border-gray-300">
                            <div class="card h-full border-8 border-l-0 border-r-0 border-green-700 text-center">
                                <div class="id-card-header flex flex-col items-center py-2">
                                    <div class="brand-image flex flex-row items-center py-4">
                                        <img src="assets/img/logo1.png" alt="BJP logo" class="h-24 bg-white rounded-full p-0.5">
                                    </div>
                                    <div class="brand-title text-3xl font-extrabold" style="color:#450000">
                                        <h1>
                                            National Executive Meeting <br>
                                            Bharatiya Janata Party
                                        </h1>
                                    </div>
                                    <div class="brand-event-date text-xl min-w-max px-20 py-1 my-2.5 rounded-full text-white" style="background-color:#540000">
                                        7th November 2021
                                    </div>
                                </div>
                                <div class="id-card-body flex flex-col items-center py-10">
                                    <div class="id-profile relative my-8">
                                        <div class="id-profile-image relative h-52 w-52 bg-red-500 flex flex-row items-center rounded-full overflow-hidden border-4 border-white shadow-lg">
                                            <img src="assets/img/sample.jpeg" alt="BJP logo" class="h-full w-full object-cover">
                                        </div>
                                        <div class="absolute -bottom-5 z-50 brand-image w-full flex justify-center items-center">
                                            <img src="assets/img/logo1.png" alt="BJP logo" class="h-14 bg-white rounded-full">
                                        </div>
                                    </div>
                                    <div class="id-profile-name font-bold">
                                        <h1 class="text-4xl">Shri. Rajnath Singh</h1>
                                    </div>
                                    <div class="id-profile-designation text-yellow-600 font-semibold mt-5 py-1 border-2 border-l-0 border-r-0 border-yellow-500">
                                        <h3 class="text-2xl">Minister of Defence</h3>
                                    </div>
                                </div>
                                <div class="id-card-footer">
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="signature w-1/3 flex flex-row items-center">
                            <form action="GET">
                                <div class="input-group">
                                    <!-- <input type="text" name="name" id="name" placeholder="Signature" class="h-full w-full border-2 border-gray-200 rounded"> -->
                                    <textarea name="signature" id="signature" cols="70" rows="15" class="border-4 border-gray-300"></textarea>
                                </div>
                                <div class="submit-button flex justify-center">
                                    <button type="submit" class="hidden lg:block px-12 pt-4 pb-2 text-3xl bg-yellow-600 hover:bg-yellow-700 text-white border-2 border-yellow-600 hover:border-yellow-700 transition-all duration-100 rounded-full outline-none cursor-pointer font-semibold hover:shadow-lg active:bg-yellow-800" >Submit</button>
                                </div>
                            </form>
                            
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Signature popup - ends -->


    </main>
</div>








<div class="container">
    <div class="row">
        <div class="col-md-3">
            Name : {{attendanceRecord.name}}
        </div>
        <div class="col-md-3">
            First Name : {{attendanceRecord.firstName}}
        </div>
        <div class="col-md-3">
            Middle Name : {{attendanceRecord.middleName}}
        </div>
        <div class="col-md-3">
            Last Name : {{attendanceRecord.lastName}}
        </div>
    </div>
    <br />
    <br />
    <div class="row" [hidden]="!isExternal">
        <div class="col-md-12">
            <mat-form-field class="col-md-6">
                <mat-label>Select Center <b style="color:red">*</b></mat-label>
                <mat-select [(value)]="centerSelectedValue">
                    <mat-option *ngFor="let center of centers" [value]="center.value">
                        {{center.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span><b>Please Sign here:</b></span>
        </div>
        <div class="col-md-6" style="border: .1rem solid;">

            <signature-pad [attr.id]="recordId" [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                (onEndEvent)="drawComplete()">
            </signature-pad>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button (click)="drawClear()" mat-raised-button>Clear</button>

        </div>
        <div class="col-md-3">
            <button (click)="submitAttendance()" mat-raised-button>Submit Attendance</button>

        </div>

        <div class="col-md-3"></div>

    </div>
</div>
