<header> 
    <div class="d-none d-md-block">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/assets/media/DESKTOP-NUTSFOR-OURRANGE.webm" type="video/webm">
      </video>
    </div>
    <!-- <div class="d-block d-md-none">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/assets/media/MOBILE-NUTSFOR-OURRANGE.mp4" type="video/mp4">
      </video>
    </div> -->
    <div class="clearfix"></div>
</header>