<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="px-16" style="width: 100%">
        <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off"
          style="width: 100%">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="mat-elevation-z8" [hidden]="searchValue.length == 0">
        
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
             <td mat-cell *matCellDef="let element">
               {{column}} qqq {{name}} eee {{element[column]}} rrr {{element['name']}}
            <img [src]='assets/images/{{name}}.jpg' width="50px" height="50px">
          </td>
            <td mat-cell *matCellDef="let element">
              <a style="cursor: pointer; color: blue;" *ngIf="column == 'name'" (click)="submitAttendance(element)">
                {{element[column]}}
              </a>
              <ng-container *ngIf="column != 'name' && column != 'isAttendanceRecorded'">
                {{element[column]}}

              </ng-container>
              <ng-container *ngIf="column == 'isAttendanceRecorded'">
                <span *ngIf="element['isAttendanceRecorded']">
                  <b>
                    Yes
                  </b>
                </span>
                <span *ngIf="!element['isAttendanceRecorded']">
                  <b>
                    No
                  </b>
                </span>
              </ng-container>
            </td>


          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <!-- <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="row">
            <button (click)="drawClear()" mat-raised-button>Clear</button>
            <button (click)="submitAttendance()" mat-raised-button>Submit Attendance</button>
          </div>
          <div class="example-element-diagram">
            <signature-pad [attr.id]="element.position" [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
              (onEndEvent)="drawComplete()">
            </signature-pad>

          </div>
          <br />

        </div>
      </td>
    </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
         
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
          </tr>
          <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
        </table>

      </div>
    </div>
  </div>
</div>
