<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"><b>Total Member:</b> {{totalCount}} </div>
        <div class="col-md-3"><b>Total Member Attendance: </b>{{totalCountPresent}}</div>
    </div>
    <div class="row">
        <div class="col-md-10">

            <div style="display: block;">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend"   [colors]="pieChartColors"
                    >
                </canvas>
            </div>
        </div>
    </div>
  
  <header style="background-color: #ED6009; color: #450000">
        <div class="meeting-heading w-full h-full">
            <div class="container flex justify-center space-x-8 items-center xl:block xl:relative mx-auto text-center text-base my-4 font-bold">
                <div class="brand-image relative xl:absolute h-full flex flex-row items-center">
                    <img src="./assets/img/logo1.png" alt="BJP logo" class="h-24 xl:h-40 xl:mt-16 bg-white rounded-full p-1.5">
                </div>

                <h1 class="brand-name text-3xl lg:text-5xl 2xl:text-6xl pt-8 pb-4 font-semibold flex flex-col xl:flex-row items-center xl:justify-center" >
                    <!-- National Executive Meeting Bharatiya Janata Party -->
                    <span class="xl:mr-2">
                        National Executive Meeting
                    </span>
                    <span class="">
                        Bharatiya Janata Party
                    </span>
                </h1>

            </div>
        </div>
        <div class="meeting-date w-full" style="background-color: #450000;">
            <div class="container mx-auto text-center text-4xl 2xl:text-4.5xl  py-2 text-white font-normal">
                7th & 8th November 2021
            </div>
        </div>
    </header>

    <main class="relative flex-grow py-12 xl:py-20">

        <div class="lg:max-w-screen-lg 2xl:max-w-screen-2xl mx-auto px-4">

            <div class="national-stat-total py-6">
                <div class="relative rounded-2xl">
                  <div class="absolute -top-12 sm:-top-14 h-full min-w-min -z-20 rounded-t-2xl pr-36 p-4 pt-3" style="background-color: #F49420;">
                    <h1 class="text-3xl sm:text-4xl">National</h1>
                  </div>
                  <div class="relative mt-10 bg-white border-2 border-grey-500 z-10 rounded-2xl grid grid-cols-3 divide-x-2 divide-grey-500 py-2">
                    <div class="mx-4 p-4 pl-0 mr-0 pr-0 md:pl-4">
                      <div class="count font-semibold" style="color: #F49420;">
                          <h1 class="text-4xl">{{nationalTotalCount}}</h1>
                      </div>
                      <div class="count-title font-normal">
                          <h3 class="text-2xl">Expected</h3>
                      </div>
                    </div>
                    <div class="mx-4 p-4 pl-4 md:pl-8">
                      <div class="count font-semibold" style="color: #F49420;">
                          <h1 class="text-4xl">{{nationalTotalPresentCount}}</h1>
                      </div>
                      <div class="count-title font-normal">
                          <h3 class="text-2xl">Present</h3>
                      </div>
                    </div>
                    <div class="mx-4 p-4 pl-4 md:pl-8">
                      <div class="count font-semibold" style="color: #F49420;">
                          <h1 class="text-4xl">{{nationalTotalCount - nationalTotalPresentCount}}</h1>
                      </div>
                      <div class="count-title font-normal">
                          <h3 class="text-2xl">Absent</h3>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="state-stat-total py-6">
                <div class="relative rounded-2xl">
                  <div class="absolute -top-12 sm:-top-14 h-full min-w-min -z-20 rounded-t-2xl pr-36 p-4 pt-3" style="background-color: #F49420;">
                    <h1 class="text-3xl sm:text-4xl">State</h1>
                  </div>
                  <div class="relative mt-10 bg-white border-2 border-grey-500 z-10 rounded-2xl grid grid-cols-4 divide-x-2 divide-grey-500 py-2">
                    <div class="mx-4 p-4 pl-0 mr-0 pr-0 md:pl-4">
                        <div class="count font-semibold" style="color: #F49420;">
                            <h1 class="text-4xl">{{attendanceInquriy?.totalList?.length -1}}</h1>
                        </div>
                        <div class="count-title font-normal">
                            <h3 class="text-2xl">States</h3>
                        </div>
                      </div>
                    <div class="mx-4 p-4 pl-4 md:pl-8">
                      <div class="count font-semibold" style="color: #F49420;">
                          <h1 class="text-4xl">{{stateTotalCount}}</h1>
                      </div>
                      <div class="count-title font-normal">
                          <h3 class="text-2xl">Expected</h3>
                      </div>
                    </div>
                    <div class="mx-4 p-4 pl-4 md:pl-8">
                      <div class="count font-semibold" style="color: #F49420;">
                          <h1 class="text-4xl">{{stateTotalPresentCount}}</h1>
                      </div>
                      <div class="count-title font-normal">
                          <h3 class="text-2xl">Present</h3>
                      </div>
                    </div>
                    <div class="mx-4 p-4 pl-4 md:pl-8">
                        <div class="count font-semibold" style="color: #F49420;">
                            <h1 class="text-4xl">{{stateTotalCount-stateTotalPresentCount}}</h1>
                        </div>
                        <div class="count-title font-normal">
                            <h3 class="text-2xl">Absent</h3>
                        </div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="total-stat py-6">
                <div class="bg-white border-2 border-grey-500 z-10 rounded-t-2xl grid grid-cols-4 divide-x-2 divide-grey-500 py-2">
                    <div class="mx-4 p-4 pl-0 mr-0 pr-0 md:pl-4">
                        <div class="count-title font-normal">
                            <h3 class="text-2xl">Total State</h3>
                        </div>
                        <div class="count font-semibold" style="color: #F49420;">
                            <h1 class="text-4xl">{{attendanceInquriy?.totalList?.length -1}}</h1>
                        </div>
                    </div>
                    <div class="mx-4 p-4 pl-4 md:pl-8">
                        <div class="count-title font-normal">
                            <h3 class="text-2xl">Expected</h3>
                        </div>
                      <div class="count font-semibold" style="color: #F49420;">
                          <h1 class="text-4xl">{{stateTotalCount}}</h1>
                      </div>
                    </div>
                    <div class="mx-4 p-4 pl-4 md:pl-8">
                        <div class="count-title font-normal">
                            <h3 class="text-2xl">Present</h3>
                        </div>
                      <div class="count font-semibold" style="color: #F49420;">
                          <h1 class="text-4xl">{{stateTotalPresentCount}}</h1>
                      </div>
                    </div>
                    <div class="mx-4 p-4 pl-4 md:pl-8">
                        <div class="count-title font-normal">
                            <h3 class="text-2xl">Absent</h3>
                        </div>
                        <div class="count font-semibold" style="color: #F49420;">
                            <h1 class="text-4xl">{{stateTotalCount-stateTotalPresentCount}}</h1>
                        </div>
                    </div>
                </div>

                <!-- Accordian Starts - State Wise Stat -->
                <div class="state-wise-stat bg-white border-2 border-grey-500 rounded-b-2xl overflow-hidden">
                    <ul class="stat-accordian bg-gray-50">
                        <li class="state" *ngFor="let state1 of attendanceInquriy?.totalList">
                            <div class="state-stat grid grid-cols-4 divide-x-2 divide-gray-300 py-2 text-2xl">
                                <div class="state-name mx-4 pl-0 mr-0 pr-0 md:pl-4">{{state1.name}}</div>
                                <div class="state-expected mx-4 pl-4 md:pl-8 flex items-center">{{state1.count}}</div>
                                <div class="state-present mx-4 pl-4 md:pl-8 flex items-center">{{getStateWisePresentCount(state1.name)}}</div>
                                <div class="state-absent mx-4 mr-0 px-4 md:px-8 relative flex items-center justify-between">
                                    {{state1.count - getStateWisePresentCount(state1.name)}}
                                </div>
                            </div>
                            
                        </li>
                      
                    </ul>
                </div>
                <!-- Accordian Ends - State Wise Stat -->
            </div>

        </div>


    </main>


  
   
</div>
<script>

        // Accordian funtionality
        var stateDetailExpandTriggers = document.querySelectorAll('.state-detail-expand-trigger');
        for (var i = 0; i < stateDetailExpandTriggers.length; i++) {
            stateDetailExpandTriggers[i].addEventListener('click', function() {
                let parent_li = this.parentElement.parentElement.parentElement
                let table = parent_li.children.length ? parent_li.children[1] : false // 2nd child (i.e. on index 1) is table

                if(table){
                    if(table.classList.contains("hidden")){
                        table.classList.remove("hidden")
                        // table.classList.replace("hidden", "block")
                    }else{
                        table.classList.add("hidden")
                        // table.classList.replace("block", "hidden")
                    }
                    if(this.classList.contains('rotate-0')){
                        this.classList.replace('rotate-0', 'rotate-180')
                        parent_li.classList.add("bg-gray-200")
                    }else{
                        this.classList.replace('rotate-180', 'rotate-0')
                        parent_li.classList.remove("bg-gray-200")
                    }
                }else{
                    // alert("No state specific details as of now!")
                }
            });
        }

    </script>

