
<header> 
    <div class="d-none d-md-block">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/assets/media/DESKTOP-NUTSFOR-OURRANGE1.mp4" type="video/mp4">
      </video>
    </div>
    <!-- <div class="d-block d-md-none">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/assets/media/MOBILE-NUTSFOR-OURRANGE.mp4" type="video/mp4">
      </video>
    </div> -->
    <div class="clearfix"></div>
</header>
<section id="new-categories-products" class="container-fluid">
    <div class="container text-center aos-init aos-animate" data-aos="fade-up">
        <h2>WHAT ARE YOU NUTS FOR?</h2>
    </div>
    <div class="row aos-init aos-animate" id="exTab1" data-aos="fade-up">
        <div class="col-xl-4 col-lg-4 col-md-6 col-12" id="new-categories-products-tab">
            <div class="d-flex justify-content-center align-items-center">
                <ul class="nav nav-pills">
                    <li>
                        <a href="#1a" data-toggle="tab" class="active">I'm nuts for <span
                                class="bigger">Flavour</span></a>
                    </li>
                    <li>
                        <a href="#2a" data-toggle="tab">I'm nuts for <span class="bigger">Treats</span></a>
                    </li>
                    <li>
                        <a href="#3a" data-toggle="tab">I'm nuts for <span class="bigger">Health</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix col-xl-8 col-lg-6 col-md-6 col-12 p-0 tab-content" id="tab-content">
            <div class="tab-pane active" id="1a">
                <div class="slick-tab-products slick-initialized slick-slider">
                    <div aria-live="polite" class="slick-list draggable">
                        <div class="slick-track" role="listbox" style="opacity: 1; width: 1016px; left: 0px;">
                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                                tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 508px;">
                                <a href="our-range/punchy-smoked-paprika" tabindex="0">
                                    <div class="slick-slide-bg orange text-center">
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">

                                                    <h2>Punchy Smoked Paprika</h2>
                                                    <img src="assets/media/NutsFor_PunchySmokedPaprika.png"
                                                        alt="Punchy Smoked Paprika" class="flip-card-front-pack">
                                                    <ul class="icon-suitable">
                                                        <li><img src="assets/media/ico-high-in-fibre.png"
                                                                alt="High in fibre"></li>
                                                        <li><img src="assets/media/ico-source-of-protein.png"
                                                                alt="Source of protein"></li>
                                                        <li><img src="assets/media/ico-vegan.png" alt="Vegan"></li>
                                                        <li><img src="assets/media/ico-vegetarian.png" alt="Vegetarian">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="flip-card-back">
                                                    <p>Roasted peanuts, cashews and almonds and crunchy barbecue corn
                                                        with a rich smoked paprika seasoning</p>
                                                    <span class="btn-read-more">Read more</span>
                                                    <img src="assets/media/FlipBack-Nuts-SmokedPaprika-v2.png"
                                                        alt="Nuts for Punchy Smoked Paprika">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1"
                                role="option" aria-describedby="slick-slide01" style="width: 508px;">
                                <a href="our-range/indian-spice-infusion" tabindex="0">
                                    <div class="slick-slide-bg blue text-center">
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">

                                                    <h2>Indian Spice Infusion</h2>
                                                    <img src="assets/media/NutsFor_IndianSpiceInfusion.png"
                                                        alt="Indian Spice Infusion" class="flip-card-front-pack">
                                                    <ul class="icon-suitable">
                                                        <li><img src="assets/media/ico-high-in-fibre.png"
                                                                alt="High in fibre"></li>
                                                        <li><img src="assets/media/ico-source-of-protein.png"
                                                                alt="Source of protein"></li>
                                                        <li><img src="assets/media/ico-vegetarian.png" alt="Vegetarian">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="flip-card-back">
                                                    <p>A punchy mix of Garam Masala flavoured peanuts, cashews, almonds
                                                        and corn sticks</p>
                                                    <span class="btn-read-more">Read more</span>
                                                    <img src="assets/media/FlipBack-Nuts-IndianSpiceInfusion.png"
                                                        alt="Nuts for Indian Spice Infusion">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="tab-pane" id="2a">
                <div class="slick-tab-products slick-initialized slick-slider">
                    <div aria-live="polite" class="slick-list draggable">
                        <div class="slick-track" role="listbox" style="opacity: 1; width: 0px; left: 0px;">
                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                                tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 0px;">
                                <a href="our-range/chocolate-brownie-chaos" tabindex="0">
                                    <div class="slick-slide-bg red text-center">
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">

                                                    <h2>Chocolate Brownie Chaos</h2>
                                                    <img src="assets/media/NutsFor_ChocolateBrownieChaos.png"
                                                        alt="Chocolate Brownie Chaos" class="flip-card-front-pack">
                                                    <ul class="icon-suitable">
                                                        <li><img src="assets/media/ico-source-of-fibre.png"
                                                                alt="Source of fibre"></li>
                                                        <li><img src="assets/media/ico-vegetarian.png" alt="Vegetarian">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="flip-card-back">
                                                    <p>A yummy mishmash of walnut pieces, blanched hazelnuts, peanuts,
                                                        dark chocolate drops and chocolate fudge pieces</p>
                                                    <span class="btn-read-more">Read more</span>
                                                    <img src="assets/media/FlipBack-Nuts-ChocolateBrownieChaos.png"
                                                        alt="Nuts for Chocolate Brownie Chaos">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1"
                                role="option" aria-describedby="slick-slide11" style="width: 0px;">
                                <a href="our-range/rocky-road-riot" tabindex="0">
                                    <div class="slick-slide-bg purple text-center">
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">

                                                    <h2>Rocky Road Riot</h2>
                                                    <img src="assets/media/NutsFor_RockyRoadRiot.png"
                                                        alt="Rocky Road Riot" class="flip-card-front-pack">
                                                    <ul class="icon-suitable">
                                                        <li><img src="assets/media/ico-source-of-fibre.png"
                                                                alt="Source of fibre"></li>
                                                        <li><img src="assets/media/ico-vegetarian.png" alt="Vegetarian">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="flip-card-back">
                                                    <p>A rocking mix of hazelnuts, peanuts, golden raisins, milk
                                                        chocolate covered biscuits and marshmallows</p>
                                                    <span class="btn-read-more">Read more</span>
                                                    <img src="assets/media/FlipBack-Nuts-RoackyRoad.png"
                                                        alt="Nuts for Rocky Road Riot">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="tab-pane" id="3a">
                <div class="slick-tab-products slick-initialized slick-slider">
                    <div aria-live="polite" class="slick-list draggable">
                        <div class="slick-track" role="listbox" style="opacity: 1; width: 0px; left: 0px;">
                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                                tabindex="-1" role="option" aria-describedby="slick-slide20" style="width: 0px;">
                                <a href="our-range/simply-dipd-almonds" tabindex="0">
                                    <div class="slick-slide-bg light-purple text-center">
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <img src="assets/media/asterix-info.png" alt=""
                                                        class="asterix-infos">
                                                    <h2>Simply Dip'd Almonds</h2>
                                                    <img src="assets/media/NutsFor_SimplyDipAlmonds.png"
                                                        alt="Simply Dip'd Almonds" class="flip-card-front-pack">
                                                    <ul class="icon-suitable">
                                                        <li><img src="assets/media/ico-less-sugar.png"
                                                                alt="70% less sugar"></li>
                                                        <li><img src="assets/media/ico-source-of-fibre.png"
                                                                alt="Source of fibre"></li>
                                                        <li><img src="assets/media/ico-source-of-protein.png"
                                                                alt="Source of protein"></li>
                                                        <li><img src="assets/media/ico-vegan.png" alt="Vegan"></li>
                                                        <li><img src="assets/media/ico-vegetarian.png" alt="Vegetarian">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="flip-card-back">
                                                    <p>Roasted almonds coated in 70% cocoa solids dark chocolate, dusted
                                                        in cocoa.</p>
                                                    <span class="btn-read-more">Read more</span>
                                                    <img src="assets/media/FlipBack-Nuts-SimplyDipdAlmonds.png"
                                                        alt="Nuts for Simply Dip'd Almonds">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
