<div route>
    <div class="container">
        <div class="row">
            <div class="Gif " style="width: 833px; height: 438.245px;"><img
                    src="https://c.tenor.com/m49UNOK3VfIAAAAC/alvin-ve-sincaplar-sofra.gif" height="438.2449799196787"
                    alt="Alvin Ve Sincaplar GIF - Alvin Ve Sincaplar Sofra GIFs" style="max-width: 99vw;"></div>
        </div>
        <div class="row">

            <div class="bulk-description">
                <h2>Best Sellers Product</h2>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <ecommerce-item></ecommerce-item>
            </div>
            <div class="col-md-3">
                <ecommerce-item></ecommerce-item>
            </div>
            <div class="col-md-3">
                <ecommerce-item></ecommerce-item>
            </div>
            <div class="col-md-3">
                <ecommerce-item></ecommerce-item>
            </div>

        </div>
    </div>


</div>