.bulk-description{
    margin: 18px;
    margin-top: 28px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #673ab7;
    font-family: "Alex Brush",cursive;
    font-size: 34px !important;
    font-weight: 400;
}